
.nft{
max-width: 1440px;
height: 774px;
left: 0px;
background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border: 1px solid #000000;
display: flex;
}
.nft-text{
 flex:1;  
}
.nft-text h3{
    width: 346px;
    height: 60px;
    margin-left: 100px;
    margin-top: 186px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nft-text p{
    height: 136px;
    width: 415px;
    margin-left: 100px;   
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}
.nft-text button{
height: 48px;
width: 156px;
margin-left: 100px;
border-radius: 8px;
background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #A02279;
background-clip: text;
}
.nft-img{
   width: 704px;
height: 574.85px;
margin:auto;
flex:1;  
}
.nft-img img{
    width:70%;
}
@media(max-width:768px){
   
.nft{
    max-width: 400px;
    height: 100%;
    left: 0px;
    display: block;
    margin-top:75rem;
   
  
}
.nft-text h3{
    width: 346px;
    height: 60px;
    margin-left: 1rem;
    margin-top: 2rem;
}
.nft-text p{
    height: 100%;
    width: 100%;
    margin-left: .3rem; 
}
.nft-text button{
    height: 48px;
    margin-left: 5rem;

}
.nft-img{
    margin-top:2rem;
    margin-left: 1rem; 
    width: 420px;
    height: 300px;
 }
 .nft-img img{
    max-width:100%;
 }
}
@media(max-width:480px){
    .nft{
        margin-top:191rem;}

}