.icons{
background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
width: 1440px;
height: 70px;
margin-left: 0px;
margin-top: 7rem;
}
.brands{
    display: flex;
}
.brands img{
    margin-top: 10px;
    margin-left:138.77px; 
    width: 222px;
height: 50px;
cursor:pointer;
}
@media(max-width:768px){
    .icons{
        margin-top:5rem;
        width:100%;
        height:100%;
    }
    .brands{
        flex-wrap: wrap;
        align-items:center ;
        justify-content: center;
        
    }
    .brands img{
        margin-top: 10px;
        margin-left:1rem; 
        width: 222px;
    height: 50px;
    cursor:pointer;
    }
}